.App {
  text-align: center;
  font-family: Monospace;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
}
.delete-logo{
  height: 25px;
  cursor: pointer;
  float:  right;
  filter: invert();
}
.delete-logo:hover{
  height: 25px;
  filter: blur();
  cursor: pointer;
}
.green-logo{
  height: 20px;
  cursor: pointer;
}
.white-logo{
  height: 20px;
  cursor: pointer;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

header h1{
    background-color: white;
    text-align: center;
    font-family: monospace;
    padding: 0px;
    color: black;
}

.ListGroup{
    content:"";
    min-height: 100vh;
    min-width: 90vh;
    background-color: #A8D8B9;
}
.ListGroup .ListBox{
    width: 30%;
    margin: 2px;
    height: 50vh;
    display:inline-block;
    vertical-align:top;
    background-color: antiquewhite;
}
.ListGroup .ListBox .list-title{
  min-height: 30px;
  font-size: large;
  background-color: #00896C;
  color: #A8D8B9;
  margin: 0px;
}
.ListGroup .ListBox .items{
  height: 70%;
  position: relative;
  overflow-y: scroll;
}
.title-text-editable{
  -webkit-user-modify: read-write;
  background-color: white;
  cursor: pointer;
}
.title-text-readonly{
  -webkit-user-modify: read-only;
}

.Items{
  text-align: center;
}
.ItemBox{
  background-color: navajowhite;
  margin: 3px;
  clear: both;
  content: "";
}
.ItemBox:hover{
  background-color:#E1A679;
  margin: 3px;
  clear: both;
  content: "";
}

.ItemBox .delete-logo{
  float: right;
}
.ItemBox .green-logo{
  left: 5px;
  position: absolute;
}
.ItemBox .green-logo.hidden{
  left: 5px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.ItemBox .white-logo{
  left: 5px;
  position: absolute;
}
.ItemBox .white-logo.hidden{
  left: 5px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.ItemBox div{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
